html {
  box-sizing: border-box;
}
:before,
*:after {
  box-sizing: inherit;
}
#app {
  width: 90%;
  margin: 0 auto;
}

#logo {
  width: 10rem;
  float: left;
}

nav {
  background-color: green;
  clear: both;
  text-align: center;
}

nav ul li {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  margin: 1rem;
}
nav ul {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-family: verdana;
  color: white;
  font-size: 1.1rem;
  text-transform: capitalize;
}
nav a:hover {
  color: yellow;
}

#products a:visited {
  color: blue;
}

#app .signature {
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-size: 2rem;
  font-family: arial;
  background-color: #be6200;
  height: 96px;
  padding-right: 110px;
  font-family: "Times New Roman", Times, serif;
}

.product-name {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}
.product a {
  text-decoration: none;
}
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #ff9b30;
  padding: 2rem;
  width: 400px;
  margin-left: 10px;
}

.product-name {
  background-color: red;
  background-color: yellow;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem;
  border-radius: 1.5rem;
  font-family: arial;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.product img {
  width: 400px;
  height: 300px;
}

#product-page {
  background-color: orange;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
}

#product-page p {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
}

#product-page button {
  padding: 0.6rem;
  display: block;
  margin: 0 auto;
  background-color: #0065bb;
  color: white;
  font-size: 1rem;
  border-radius: 2rem;
}

.alert {
  background-color: purple;
  color: white;
  padding: 1rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 2rem;
  font-size: 1.3rem;
}
#products {
  text-align: center;
}
#app {
  text-align: center;
}
#filtered ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#filtered li {
  background-color: #ff9b30;
  list-style: none;
  padding: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#filtered li p {
  background-color: yellow;
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem;
  border-radius: 1.5rem;
  font-family: arial;
}

#cart-page ul li {
  list-style: none;
  font-size: 1rem;
}
span {
  color: lightseagreen;
  font-size: 1.3rem;
}

#cart-page button {
  padding: 0.4rem;
  border-radius: 1rem;
  background-color: red;
  color: white;
  font-size: 1rem;
}
.cart-item {
  margin-bottom: 2rem;
}

.shpping-cart {
  margin-bottom: 1rem;
}
