<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>

    <script src="scripts.js" defer></script>

    <style>
        [v-cloak] {

            display: none
        }
    </style>
</head>

<body>
    <h1>Intro</h1>

    <div id="app" v-cloak>
        <div>
            <label>What's your name<input type="text" v-model='playerName'></label>
            <p v-if='playerName != null'>Player :{{playerName}}</p>
        </div>
        <div>
            <label>What's your guess<input type="text" v-model='guess'></label>
            <button v-on:click='guesses.push(guess)'>guess</button>
            <ul>
                <li v-for='mine in guesses'>{{mine}}</li>
            </ul>
        </div>
    </div>



</body>

</html>